.pokemon {
    margin-top: 2rem;
    flex-basis: 20%;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pokemon-name {
    font-size: larger;
    letter-spacing: 0.5rem;
}
.pokemon-image {
    margin-top: 1rem;
    height: 150px;
    max-height: 80%;
}

.pokemon:hover {
    background-color: beige;
}

